/* ======================= */
/* HEADER                 */
/* ======================= */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background: rgb(0, 0, 0);
    color: white;
    position: relative;
}

/* MENU TOGGLE */
.menu-toggle {
    font-size: 28px;
    cursor: pointer;
    z-index: 1001;
}

/* MENU MOBILE */
.mobile-menu {
    display: none;
    flex-direction: column;
    background: #a30e0e;
    position: absolute;
    top: 60px;
    right: 0;
    width: 220px;
    padding: 20px;
    z-index: 1000;
    border-radius: 8px;
}

.mobile-menu a {
    color: white;
    text-decoration: none;
    padding: 10px 0;
    transition: color 0.3s ease;
}

.mobile-menu a:hover {
    color: #facc15;
}

/* ACTIVE */
.mobile-menu.active {
    display: flex;
}


/* ======================= */
/* VERSION MOBILE          */
/* ======================= */

@media (max-width: 768px) {

    .header {
        padding: 12px 15px;
    }

    .menu-toggle {
        font-size: 24px;
    }

    .mobile-menu {
        width: 90%;
        max-width: 250px;
        top: 55px;
        right: 10px;
        padding: 15px;
    }

    .mobile-menu a {
        padding: 8px 0;
        font-size: 0.95rem;
    }

}

/* ======================= */
/* HERO / BANNIÈRE         */
/* ======================= */

/* MOBILE FIRST */
.hero {
    text-align: center;
    padding: 3rem 1.2rem;
    background: linear-gradient(180deg, #89afee, #161212);
}

.hero h1 {
    font-size: 1.8rem; /* Adapté mobile */
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1rem;
    line-height: 1.3;
}

.hero p {
    font-size: 0.95rem;
    margin-bottom: 1.8rem;
    color: #ffffff;
    line-height: 1.6;
}

.btn {
    display: inline-block;
    padding: 0.9rem 1.5rem;
    background: #ff9900;
    color: #030303;
    border-radius: 50px;
    font-weight: bold;
    text-decoration: none;
    width: 100%;
    max-width: 260px;
    font-size: 0.95rem;
}

/* ======================= */
/* ANIMATION TEXTE HERO    */
/* ======================= */

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero h1 {
    animation: fadeUp 0.8s ease forwards;
}

.hero p {
    animation: fadeUp 1s ease forwards;
}

.hero .btn {
    animation: fadeUp 1.2s ease forwards;
}

/* ======================= */
/* TABLETTE (≥768px)       */
/* ======================= */

@media (min-width: 768px) {
    .hero {
        padding: 4rem 2rem;
    }

    .hero h1 {
        font-size: 2.5rem;
    }

    .hero p {
        font-size: 1.1rem;
    }

    .btn {
        max-width: 280px;
        font-size: 1rem;
    }
}

/* ======================= */
/* DESKTOP (≥1024px)       */
/* ======================= */

@media (min-width: 1024px) {
    .hero h1 {
        font-size: 3rem;
    }
}
/* ======================= */
/* FORMATIONS              */
/* ======================= */

.formations {
    padding: 3rem 2rem;
    text-align: center;
}

.formations h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #0055a5;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

.card {
    background: #fff;
    padding: 1rem;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.card h3 {
    margin-bottom: 0.5rem;
    color: #0055a5;
}

.card p {
    font-size: 0.95rem;
}


/* ======================= */
/* VERSION MOBILE          */
/* ======================= */

@media (max-width: 768px) {

    .formations {
        padding: 2.5rem 1.2rem;
    }

    .formations h2 {
        font-size: 1.6rem;
    }

    .cards {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 100%;
        max-width: 100%;
    }

    .card img {
        height: 180px;
    }

    .card p {
        font-size: 0.9rem;
    }

}
/* ======================= */
/* ÉVÉNEMENTS / MATCHS     */
/* ======================= */

.evenements {
    padding: 3rem 2rem;
}

.evenements h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #0055a5;
}

.evenements article {
    margin-bottom: 2rem;
    padding: 1rem;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

.evenements article h3 {
    color: #ff9900;
    margin-bottom: 0.5rem;
}

.evenements article p {
    margin-bottom: 1rem;
    font-size: 0.95rem;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.gallery img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

/* ======================= */
/* CONTACT                 */
/* ======================= */

.contact {
    padding: 3rem 2rem;
    background: #e6f2ff;
    text-align: center;
}

.contact h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #0055a5;
}

.contact ul {
    list-style: none;
    font-size: 1.1rem;
    padding: 0;
}

.contact ul li {
    margin: 0.8rem 0;
}

.contact ul li a {
    color: #0055a5;
    text-decoration: none;
    font-weight: bold;
}

.contact ul li a:hover {
    text-decoration: underline;
}


/* ======================= */
/* FOOTER                  */
/* ======================= */

footer {
    background: #111827;
    text-align: center;
    padding: 2rem 1rem;
    font-size: 0.9rem;
    color: #94a3b8;
}


/* ======================= */
/* FORMULAIRE INSCRIPTION  */
/* ======================= */

form {
    background: #fff;
    padding: 2rem;
    max-width: 400px;
    margin: 2rem auto;
    border-radius: 8px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-top: 1rem;
    font-weight: 500;
}

form input,
form select,
form button {
    width: 100%;
    padding: 0.6rem;
    margin-top: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form button {
    background: #0055a5;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s ease;
}

form button:hover {
    background: #004080;
}


/* ======================= */
/* VERSION MOBILE          */
/* ======================= */

@media (max-width: 768px) {

    .contact {
        padding: 2.5rem 1.2rem;
    }

    .contact h2 {
        font-size: 1.6rem;
    }

    .contact ul {
        font-size: 1rem;
    }

    footer {
        font-size: 0.85rem;
        padding: 1.5rem 1rem;
    }

    form {
        padding: 1.5rem;
        margin: 1.5rem 1rem;
    }

}
/* ================= CONTACT PAGE PRO ================= */

.contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    margin-top: 2rem;
}

.contact-info {
    background: #a12a2a;
    padding: 2rem;
    border-radius: 10px;
    width: 350px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.contact-info p {
    margin: 1rem 0;
    font-size: 1rem;
}

.contact-form {
    background: #be0e0e;
    padding: 2rem;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.contact-form h3 {
    margin-bottom: 1rem;
    color: #0055a5;
}

.contact-form textarea {
    width: 100%;
    resize: none;
}

/* MAP */
.map {
    padding: 3rem 2rem;
    text-align: center;
}

.map h2 {
    margin-bottom: 1.5rem;
    color: #0055a5;
}

/* ======================= */
/* VERSION MOBILE          */
/* ======================= */

@media (max-width: 768px) {

    .contact-container {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .contact-info,
    .contact-form {
        width: 90%;
        max-width: 350px;
        padding: 1.5rem;
    }

    .contact-info p,
    .contact-form h3 {
        font-size: 0.95rem;
    }

    .map {
        padding: 2rem 1rem;
    }

    .map h2 {
        font-size: 1.6rem;
    }

}

/* ================= INSCRIPTION PAGE PRO ================= */

.inscription-section {
    padding: 3rem 2rem;
    background: #f4f6f9;
}

.inscription-form {
    max-width: 700px;
    margin: auto;
    background: #ffffff;
    padding: 2.5rem;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.inscription-form h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: #0055a5;
    border-bottom: 2px solid #ff9900;
    padding-bottom: 0.5rem;
}

.inscription-form label {
    display: block;
    margin-top: 1rem;
    font-weight: 500;
}

.inscription-form input,
.inscription-form select,
.inscription-form textarea {
    width: 100%;
    padding: 0.7rem;
    margin-top: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 0.95rem;
}

.inscription-form textarea {
    resize: none;
}

.inscription-form button {
    margin-top: 2rem;
    background: #0055a5;
    color: #fff;
    padding: 0.9rem;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
}

.inscription-form button:hover {
    background: #003f7d;
    transform: translateY(-2px);
}

/* ======================= */
/* VERSION MOBILE          */
/* ======================= */

@media (max-width: 768px) {

    .inscription-section {
        padding: 2.5rem 1.2rem;
    }

    .inscription-form {
        width: 100%;
        padding: 2rem 1.5rem;
    }

    .inscription-form h2 {
        font-size: 1.6rem;
    }

    .inscription-form input,
    .inscription-form select,
    .inscription-form textarea {
        font-size: 0.9rem;
        padding: 0.6rem;
    }

    .inscription-form button {
        font-size: 0.95rem;
        padding: 0.8rem;
    }

}

/* ================================
   PROGRAMME FILLES 
================================ */

.engagement-section {
    background: linear-gradient(135deg, #1a1a1a, #000000);
    color: white;
    padding: 60px 20px;
    text-align: center;
}

.engagement-section h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #c084fc;
}

.engagement-section p {
    max-width: 700px;
    margin: 0 auto 15px auto;
    line-height: 1.6;
    font-size: 0.95rem;
}

.btn-programme {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background: #c084fc;
    color: black;
    font-weight: bold;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.3s ease;
}

.btn-programme:hover {
    background: #a855f7;
    transform: scale(1.05);
}

/* ================================
   PAGE PROGRAMME FILLES
================================ */

.programme-hero {
    background: linear-gradient(135deg, #000000, #1f1f1f);
    color: white;
    padding: 80px 20px;
    text-align: center;
}

.programme-hero h1 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #c084fc;
}

.programme-section {
    padding: 60px 20px;
    background: #f9fafb;
}

.programme-section h2 {
    margin-top: 40px;
    margin-bottom: 15px;
    color: #111;
}

.programme-section p {
    line-height: 1.6;
    margin-bottom: 15px;
}

.programme-grid {
    display: grid;
    gap: 20px;
    margin-top: 20px;
}

.programme-card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

.programme-card h3 {
    margin-bottom: 10px;
    color: #a855f7;
}

/* ================= BOUTIQUE ================= */

.shop-section {
    padding: 3rem 2rem;
    text-align: center;
    background: #f8f9fa;
}

.shop-section h2 {
    font-size: 2rem;
    color: hsl(268, 47%, 42%);
    margin-bottom: 2rem;
}

.shop-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.product-card {
    background: #ffffff;
    width: 280px;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.product-card h3 {
    color: #0055a5;
    margin-bottom: 0.5rem;
}

.price {
    font-size: 1.2rem;
    font-weight: bold;
    color: #ff9900;
    margin-bottom: 1rem;
}

.whatsapp-btn {
    display: inline-block;
    padding: 0.7rem 1rem;
    background: #25D366;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
}

.whatsapp-btn:hover {
    background: #1ebe5d;
}
/* ================= BOUTIQUE PREVIEW ================= */

.shop-preview {
    background: linear-gradient(135deg, hsl(29, 76%, 42%), hwb(355 5% 25%));
    padding: 4rem 1.5rem;
    display: flex;
    justify-content: center;
}

.shop-preview-container {
    max-width: 700px;
    text-align: center;
    color: #ffffff;
}

.shop-preview-container h2 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
    letter-spacing: 1px;
}

.shop-preview-container p {
    font-size: 1.05rem;
    line-height: 1.6;
    margin-bottom: 2rem;
}

.shop-btn {
    display: inline-block;
    padding: 0.9rem 2rem;
    background: #ff9900;
    color: #ffffff;
    font-weight: bold;
    border-radius: 30px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.shop-btn:hover {
    background: #d1cdc6;
    transform: translateY(-3px);
}


/* ======================= */
/* MENU MOBILE             */
/* ======================= */

.menu-toggle {
    font-size: 1.5rem;
    cursor: pointer;
    color: #ff9900;
}

#mobileMenu {
    display: none;
    flex-direction: column;
    background: #1e293b;
    padding: 1rem;
}

#mobileMenu a {
    padding: 0.8rem 0;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid #334155;
}

/* MENU ACTIVE */
#mobileMenu.active {
    display: flex;
}


/* ======================= */
/* REVEAL ANIMATION        */
/* ======================= */

.reveal {
    opacity: 0;
    transform: translateY(40px);
    transition: 0.6s ease;
}

.reveal.visible {
    opacity: 1;
    transform: translateY(0);
}


/* ======================= */
/* WHATSAPP FLOAT          */
/* ======================= */

.whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #22c55e;
    color: black;
    font-size: 1.5rem;
    padding: 15px;
    border-radius: 50%;
    text-decoration: none;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}


/* ======================= */
/* VERSION MOBILE          */
/* ======================= */

@media (max-width: 768px) {

    .shop-preview-container h2 {
        font-size: 1.8rem;
    }

    .shop-preview-container p {
        font-size: 1rem;
    }

    .shop-preview {
        padding: 3rem 1rem;
    }

    .shop-btn {
        padding: 0.8rem 1.8rem;
        font-size: 0.95rem;
    }

}
/* ================================
   SECTION YOUTUBE
================================ */

.youtube-section {
    padding: 70px 20px;
    text-align: center;
    background: linear-gradient(135deg, #7a6f8a, #000);
    color: rgb(219, 206, 206);
}

.youtube-section h2 {
    color: #facc15;
    margin-bottom: 20px;
    font-size: 1.8rem;
}

.youtube-section p {
    max-width: 700px;
    margin: 0 auto 15px auto;
    line-height: 1.7;
    color: #ddd;
}

.youtube-btn {
    display: inline-block;
    margin-top: 25px;
    padding: 14px 30px;
    background: #ff0000;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 30px;
    transition: all 0.3s ease;
}

.youtube-btn:hover {
    background: #cc0000;
    transform: translateY(-3px);
}


/* ======================= */
/* VERSION MOBILE          */
/* ======================= */

@media (max-width: 768px) {

    .youtube-section {
        padding: 50px 15px;
    }

    .youtube-section h2 {
        font-size: 1.5rem;
    }

    .youtube-section p {
        font-size: 0.95rem;
        line-height: 1.5;
        margin-bottom: 15px;
    }

    .youtube-btn {
        padding: 12px 25px;
        font-size: 0.95rem;
    }

}

/* ================================
   PAGE PRESIDENT
================================ */

.president-hero {
    background: linear-gradient(135deg, #000000, #1f1f1f);
    color: white;
    padding: 70px 20px;
    text-align: center;
}

.president-hero h1 {
    color: #facc15;
    font-size: 1.8rem;
}

.president-section {
    padding: 60px 20px;
    background: #f9fafb;
}

.president-profile {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    margin-bottom: 50px;
}

.president-image img {
    width: 200px;
    border-radius: 50%;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.president-info {
    text-align: center;
}

.president-info h2 {
    margin-bottom: 10px;
    color: #111;
}

.mot-president {
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}

.mot-president h2 {
    color: #a855f7;
    margin-bottom: 20px;
}

.mot-president p {
    line-height: 1.7;
    margin-bottom: 15px;
}

/* Desktop adaptation */
@media (min-width: 768px) {
    .president-profile {
        flex-direction: row;
        text-align: left;
        align-items: center;
    }

    .president-info {
        text-align: left;
    }
}

/* ================= THANK YOU PAGE ================= */

.thankyou-page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: linear-gradient(180deg, #89afee, #161212);
    text-align: center;
}

.thankyou-card {
    background: white;
    padding: 40px 25px;
    border-radius: 15px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.thankyou-card h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.thankyou-card p {
    margin-bottom: 25px;
    color: #555;
}
